.bce-container {
    display: flex;
    min-width: 50%;
    max-width: fit-content;
    text-align: center;
  }
  .bce-results-container {
    padding: 3%;
    display: inline-block;
    min-width: max-content;
    align-items: center;
    text-align: inline-center;
  }
  .action-button {
    margin: 2%;
  }
  .bce-result {
    display: inline-block;
    min-width: max-content; 
    margin: 5%;
  }
  div.result-container {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    margin-top: 40%;
  }
  h4,
  h2,
  h3,
  h1,
  p {
    display: flex;
    text-align: center;
    min-width: fit-content;
    justify-self: center;
    margin: 5%;
  }
  p {
    text-align: center;
    margin: 0 auto;
  }
  div.button-container {
    display: flex;
    margin: auto;
    padding: 1%;
  }
  .input-group {
    display: flex;
    padding: 2%;
    min-width: 100%;
    justify-self: center;
  }
  input[type="number"],
  input[type="text"] {
    min-width: 10%;
    max-width: 30%;
  }
  @media (min-width: 500px) {
    .bce-container {
      justify-content: center;
      align-items: center;
      width: 30vw;
      max-height: fit-content;
    }
    #root {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 480px) {
    body {
      margin-bottom: 20%;
    }
  }
  